*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#app{
    margin: 3rem;
    color: #394a5e;
    font-size: 3rem;
}

main section.container{
    max-width: 800px;
    background-color: red;
    margin: 0 auto;
    color: white;
}

ul li {
    list-style: none;
    text-align: center;
}

.fatto{
    text-decoration: line-through;
}